.header-section{
    display:flex;
    justify-content: center;
    .nav{
        ul{
            display: flex;
            align-items: center;
            li{
                padding:15px 20px;
                font-family: $primary-font;
                font-weight:400;
                font-size: 1em;
                
                a{
                    text-decoration: none;
                    color:#6b6b6b;
                    &:hover{
                        color:#2a3c70;
                        transition: color 0.1s ease-in-out;
                    }
                }
            }
        }
    }
}