.header-section{
    display:flex;
    justify-content: center;
    .nav{
        ul{
            a{
                padding:15px 20px;
                color:#6b6b6b;
                font-family: $primary-font;
                font-weight:400;
                font-size:12px;
                text-decoration: none;
                &:hover{
                    color:#2a3c70;
                    transition: color 0.1s ease-in-out;
                }
            }
        }
    }
}