// header ribbon
.header-ribbon
{
    .social-media-box
    {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: left;
        }
        i{
            color: #aeaeae;
            font-size: 20px;
            // padding-top: 17%;
        }
        a{
            padding-top: 5%;
            @media (min-width: 768px) {
                padding-top: 14%;
            }
        }
        // .header-social-icon
        // {
        //     color: #aeaeae;
        //     font-size: 20px;
        //     i{
        //         padding-top: 17%;
        //     }
        // }
    }

    .logo-container
    {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-end;
        } 
    }
    .contact-box
    {
        padding-top: 2%;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }    
    }
    .contact-icon{
        font-size: 20px;
        @media (min-width: 1017px) {
            font-size: 43px;
        }
    }
    a{
        text-decoration: none;
        color:#000;
        font-family:$primary-font;
        font-size: 0.7em;
        .head-sub
        {
            color: #7b8185;
        }
    }
    .head-right-items
    {
        padding-right: 2%;

    }    
}

// logo-section
.logo-section {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dbdbdb;
    align-items: center;

    .header-social-icon
    {
        color: #aeaeae;
    }

    img {
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
        margin-left: 271px;
        width: 23%;
    }
    a {
        display: flex;
        margin-top: 30px;
        padding: 0 5px;
        text-decoration: none;
        i {
            .fas fa-headphones-alt {
            }
        }
    }
}


// hero-section
.hero-section {
    display: flex;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    margin-bottom: 80px;
    height: 150vh;

    p{
        text-align: center;
        margin-bottom: 0px;
    }
    .main-title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 50px;
        color: #ffffff;
    }
    .publishers-title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 50px;
        color: #ffffff;
    }
    .btn-container {
        text-align: center;

        .contact-us-btn {
            text-decoration: none;
            font-size: 10px;
            border: 2px solid black;
            padding: 12px 30px;
            font-family: $primary-font;
            font-weight: 700;
            color: #2a3c70;
            background-color: white;
            border-color: white;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: calc(100% + 20px);
                height: calc(100% + 20px);
                border: 1px solid #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @media (min-width: 768px) {
    }
}

// Books-section
.Books-section {
    margin-top: 80px;
    h2 {
        text-align: center;
        color: #2f3033;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 2.3rem;
    }
    p {
        text-align: center;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 0.8rem;
        color: #757575;
        margin-bottom: 3rem;
    }
}
// books-main-section
.books-main-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
//bestseller-section
.bestseller-section {
    margin-top: 80px;
    
    .title-section {
        h2 {
            text-align: center;
            color: #2f3033;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 2.3rem;
            text-align: center;
            @media(width: 768px)
            {
                text-align: left;
            }
        }

        p {
            text-align: center;
            font-family: $primary-font;
            font-weight: 400;
            font-size: 0.8rem;
            color: #757575;
            text-align: center;
            @media(width:768px)
            {
                text-align: left;
            }
        }
    }

    .section-main {
        .shop-boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                'leftBox rightTopBox'
                'leftBox rightBottomBox';

            .box {
                min-height: 200px;

                .text-box {
                    color: #fff;
                    
                    .product-title {
                        font-family: $secondary-font;
                        font-size: 2.3em;
                    }

                    .product-small-title {
                        font-family: $primary-font;
                        
                    }
                }

                &.left-box {
                    grid-area: leftBox;
                    background-color: #110d1e;

                    .image-container {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: auto;
                            max-width: 100%;
                        }
                    }
                    
                    .text-box {
                        text-align: center;
                    }
                }

                &.right-top-box {
                    grid-area: rightTopBox;
                    background-image: url('../images/fetured-book-2.jpg');
                    background-size: cover;
                    background-position: bottom center;
                }

                &.right-bottom-box {
                    grid-area: rightBottomBox;
                    background-image: url('../images/fetured-book-3.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
            .card{
                border-color: #c7c7c7;
            }
        }
    }
}
//bestseller-section
.bestseller-section{
        margin-top:80px;
    h2{
        text-align: center;
        color:#2f3033;
        font-family:$secondary-font;
        font-weight:400;
        font-size:2.3rem;
    }
    p{
        text-align: center;
        font-family:$primary-font;
        font-weight: 400;
        font-size:0.8rem;
        color: #757575;
    }

}

//recent-launch-section
.recent-launch-section {
    margin-bottom: 60px;
    background-image: url('../images/recent.jpg');
    background-size: cover;
    width: 100%;
    padding: 30vh;
    h2 {
        font-family: $secondary-font;
        font-weight: 400;
        padding-left: 120px;
        color:#fff;
        @media(min-width: 768px)
        {
            color: #000;
        }
    }
    p {
        font-family: $primary-font;
        font-weight: 400;
        font-size: 13px;
        margin-right: 55px;
        padding-left: 120px;
        color: #fff;
        @media(min-width: 768px)
        {
            color: #000;
        }
    }
    a {
        padding-left: 120px;
    }
    .view-more-btn {
        border-radius: 10em;
        padding: 10px 40px;
        font-size: 0.9em;
        text-transform: uppercase;
        color: white;
        background-color: #2b3d72;
        font-family: $primary-font;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #2b3d72;
        transition: all 0.1s ease-in-out;
        margin-left: 120px;

        &:hover {
            background: transparent;
            color: #2b3d72;
        }
    }
}
//all-books-section
.all-books-section {
    margin-top: 80px;
    h2 {
        text-align: center;
        color: #2f3033;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 2.3rem;
    }
    p {
        text-align: center;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 0.8rem;
        color: #757575;
        margin-bottom: 45px;
    }
}
.all-books-main-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.all-books-second-section {
    margin-top: 30px;
    margin-bottom: 120px;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .item {
        border: 1px solid #c7c7c7;
        padding: $grid-gutter-width / 2;
        margin-bottom: 17px;
        img {
        }
    }
    .item-body {
        width: 250px;
        h6 {
            font-family: $secondary-font;
            font-weight: 400;
            color: #2b3d72;
            font-size: 1.3rem;
        }
        .text {
            font-family: $primary-font;
            font-weight: 400; //medium
            color: #878787;
            margin-bottom: 2px;
            font-size: 13px;
        }
        .price {
            color: #ee1c24;
            font-family: $primary-font;
            font-family: 400;
            font-size: 13px;
        }
        .buy-btn {
            border-radius: 10em;
            padding: 10px 40px;
            font-size: 0.9em;
            text-transform: uppercase;
            color: white;
            background-color: #2b3d72;
            font-family: $primary-font;
            font-weight: 600;
            text-decoration: none;
            display: inline-block;
            border: 1px solid #2b3d72;
            transition: all 0.1s ease-in-out;

            &:hover {
                background: transparent;
                color: #2b3d72;
            }
        }
        .card {
            border-color: #c7c7c7;
        }
    }
}
.footer-section {
    padding-top: 35px;
    background-color: #2b2b33;
    .news-box {
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: left;
        }
    }
    .news-letter {
        text-align: center;
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    h6 {
        font-family: $primary-font;
        font-size: 0.9em;
        font-weight: 600;
        color: white;
        font-size: 12px;
        width: 100%;
        @media (min-width: 768px) {
            width: auto;
        }
    }
    img {
        display: inline-block;
        margin: 5px;
        height: 22px;
        width: 22px;
        border-radius: 5px;
    }
    input {
        padding: 12px;
        padding-right: 50px;
        font-family: $primary-font;
        font-weight: 300;
        font-size: 13px;
        background-color: #393941;
        color: #5b5b5e;
        border: none;
        margin-right: 2px;
        padding-left: 30px;
        margin-bottom: 10px;
        margin-right: 12px;
        @media (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 0;
            width: 100%;
        }
        @media (min-width: 1200px) {
            width: auto;
        }
    }
    .subscribe-btn {
        padding: 11px 30px;
        border: 1px solid #959599;
        background-color: #2b2b33;
        color: white;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 12px;
        float: right;
        text-decoration: none;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
        @media (min-width: 1200px) {
            width: auto;
            margin-top: 0;
        }

        &:hover {
            background-color: white;
            color: black;
            transition: background-color 0.1s ease-in-out;
        }
    }
    a {
        display: inline;
        font-size: 12px;
        font-family: $primary-font;
        font-weight: 400;
        color: #878788;
        text-decoration: none;
    }
    .services {
        border: 1px solid #44444a;
        text-align: center;
        background-color: #2b2b33;
        height: 100%;
        display: flex;
        justify-content: center;
        border-left: none;
        border-right: none;
    }
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        a {
            padding-right: 20px;
            @media (min-width: 992px) {
                padding: 10px;
            }
            &:hover {
                color: white;
                transition: color 0.1s ease-in-out;
                width: 100%;
            }
        }
    }
    img {
        margin: 5px;
    }

    .social-icons {
        .fab {
            font-size: 35px;
        }
    }
}

.info-container {
    margin-top: 50px;
    margin-left: 107px;
    margin-right: 70px;
    .footer-widget {
        text-align: center;
        padding-right: 0;
        @media (min-width: 768px) {
            text-align: left;
        }

        a {
            display: inline-block;
            height: 22px;
        }
        h6 {
            color: #f1f1f1;
            font-family: $primary-font;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 12px;
            margin-bottom: 18px;
            margin-top: 25px;
        }
        .payment-img {
            width: 82px;
            height: 47px;
            border-radius: 0;
        }
        .payment-icons {
            display: -webkit-inline-box;
            img {
                margin-bottom: 40%;
            }
            @media (min-width: 768px) {
                display: flex;
            }
        }
        ul {
            padding: 0px 0px;
            a {
                display: block;
                text-decoration: none;
                &.item {
                    font-family: $primary-font;
                    font-weight: 400;
                    color: #9a9a9a;
                    font-size: 11px;
                    list-style-type: none;
                    margin-bottom: 10px;
                    &:hover {
                        color: white;
                        transition: color 0.1s ease-in-out;
                    }
                }
            }
        }
    }

    .copyright-container {
        border-top: 1px solid #3f3f46;
        h6 {
            font-family: $primary-font;
            font-weight: 300;
            font-size: 11px;
            color: #555559;
            margin: 15px 0px;
            width: 100%;
            text-align: center;
            @media (min-width: 768px) {
                width: auto;
            }
            span {
                color: #b7b7b8;
            }
        }
    }
}
.footer-ribbon {
    background-color: #2b2b33;
    text-align: center;
    border-top: 1px solid #44444a;
    .copyright-container {
        width: 100%;
        h6 {
            font-family: $primary-font;
            font-weight: 300;
            font-size: 11px;
            color: #555559;
            margin: 15px 0px;
            width: 100%;
            text-align: center;
            @media (min-width: 768px) {
                width: auto;
            }
            span {
                color: #b7b7b8;
            }
        }
        span {
            color: #b7b7b8;
        }
    }
}
